# Homework

## Q1

Create a list with the following data, and assign it to a variable named shopping: 'spam' 'ham' 'eggs' 'ham'

Then do the following:

1. Extract the second element of the list.
2. Extract the first to third (inclusive) element of the list.
3. Extract only the last element of the list.

In [1]:
shopping = ["spam", "ham", "eggs", "ham"]

shopping[1] # 1 is 2nd item, 0 indexed

'ham'

In [3]:
shopping[:-1]

['spam', 'ham', 'eggs']

In [4]:
shopping[-1]

'ham'

## Q2

Set up a list with the following elements:

stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

Perform the following:

* Append Edinburgh Waverley to the end of the list
* Add "Queen Street" to the start of the list
* Find out what index "Croy" is at in the list
* Add "Polmont" at the appropriate point (between "Falkirk High" and "Linlithgow")
* Remove "Haymarket" from the list of stops
* Remove all items from stops

Hint: Some of these methods will change the original object stops. If you make any unwanted changes and want to go back to the original object you can re-run the code chunks where we created the object stops and then appended "Edinburgh Waverley".

In [1]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]
stops.append("Edinburgh Waverley")

In [2]:
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [3]:
# add Queen Street first
stops.insert(0, "Queen Street")

In [4]:
# use the index() method
stops.index("Croy")

1

In [5]:
# use the insert() method
stops.insert(4, "Polmont")

In [6]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverley']

In [7]:
stops.remove("Haymarket")
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Edinburgh Waverley']

In [8]:
# use method clear()
stops.clear()
stops

[]

## Q3

Set up the following dictionary:

person = {"name": "Steph", "age": 31, "Instructor" : True}

Do the following:

* Return the keys, values and items from this dictionary
* Take out only the name from it
* Add a new key:value pair, which adds the email "steph@codeclan.com" to the dictionary
* Delete the job description from the dictionary (Hint: look up the del function)

In [9]:
person = {"name": "Steph", "age": 31, "Instructor" : True}
person

{'name': 'Steph', 'age': 31, 'Instructor': True}

In [10]:
# return keys and values with items()
person.keys()
person.values()
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [18]:
person["name"]

'Steph'

In [11]:
# to add, define new key directly and assign value to it
person["email"] = "steph@codeclan.com"
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'email': 'steph@codeclan.com'}

In [23]:
# del is a function not a method, use it directly not as dict.method()
del person["Instructor"]
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('email', 'steph@codeclan.com')])

In [12]:
# solutions say diff way that treats del as del() function
del(person["Instructor"])

In [13]:
person

{'name': 'Steph', 'age': 31, 'email': 'steph@codeclan.com'}

## Q4

For the following list of numbers:

numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

1. Print out a list of the even integers:
2. Print the difference between the largest and smallest value:
3. Print True if the list contains a 2 next to a 2 somewhere.
4. Print the sum of the numbers, BUT ignore any section of numbers starting with a 6 and extending to the next 7. So [11, 6, 4, 99, 7, 11] would have sum of 22

In [14]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [27]:
[i for i in numbers if i %2 == 0]

[6, 2, 2, 6]

In [29]:
# expect 99 - 1 = 98
# max() and min() are functions, not methods
max(numbers) - min(numbers)

98

In [54]:
# set up a count for True situation
count = 0

# set up i as index of length 1 - length of numbers
for i in range(1, len(numbers)):
    # if this index returns 2 and is same as next index, add 1 to count
    if numbers[i] == 2 and numbers[i] == numbers[i+1]:
        count += 1
        
# test if count has any hits, it should have one, any greater than 0 is True
count > 0

True

In [15]:
# solutions do it slightly differently
result = False
for index in range(len(numbers) - 1):
    if numbers[index] == 2 and numbers[index + 1] == 2:
        result = True
print(result)

True

In [18]:
numbers

[1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [76]:
# Print the sum of the numbers, BUT ignore any section 
# of numbers starting with a 6 and extending to the next 7. 
# So [11, 6, 4, 99, 7, 11] would have sum of 22

stop = numbers.index(6)
restart = numbers.index(7)

print(stop)

1

In [77]:
print(restart)

4

In [78]:
index_extracted = [i for i in range(0, len(numbers)) if i < stop or i > restart]
print(index_extracted)

[0, 5, 6, 7, 8, 9]

In [79]:
numbers_extracted = [numbers[i] for i in index_extracted]
print(numbers_extracted)

[1, 1, 6, 13, 99, 7]

In [80]:
sum(numbers_extracted)

127

In [81]:
# all together for final part
stop = numbers.index(6)
restart = numbers.index(7)
index_extracted = [i for i in range(0, len(numbers)) if i < stop or i > restart]
sum([numbers[i] for i in index_extracted])

127

In [20]:
# solutions do it slightly differently, and pick up the second lot of 6...7 which I missed!
total = 0
skip_this_bit = False
for number in numbers: 
    if number == 6:
        # start skipping
        skip_this_bit = True
    elif skip_this_bit:
        if number == 7:
            # if we're skipping, and this number is 7
            # then stop skipping
            skip_this_bit = False
    else:
        total += number

print(total)

2

## Q5

Write a conditional that takes in two inputs :

python_is_fun = True
python_is_weird = True

We want to print "Woo Python!" if either python_is_fun is true OR python_is_weird is true OR both python_is_fun and python_is_weird are true. Otherwise, print "Python is not for me!". Make sure you test all the combinations.

In [13]:
python_is_fun = False
python_is_weird = False

if python_is_fun == False and python_is_weird == False:
    statement = "Python is not for me!"
else: statement = "Woo Python!"
statement

'Python is not for me!'

In [21]:
# solution is simpler:
python_is_fun = True
python_is_weird = True

if python_is_fun or python_is_weird:
    print("Woo Python!")
else: 
    print("Python is not for me!")

Woo Python!

## Q6

We have a list of chickens and the farmer would like to go through all the chickens, collecting the eggs and getting the total number of eggs collected.

chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

To write this as a loop, we'd do something like this:

total_eggs = 0

for chicken in chickens:
    total_eggs += chicken["eggs"]
    chicken["eggs"] = 0 # eggs have been collected

print(f"{total_eggs} eggs collected")

Instead, we want to define a function which passes in a list, so that if we wanted to count eggs of a different list of chickens from another farm, we can use the same function, just pass in a different list.

We also want to return the string at the end, instead of using print.

In [22]:
def count_eggs(chickens): # where chickens is dictionary
    total_eggs = 0
    
    for chicken in chickens:
        total_eggs += chicken["eggs"]
        chicken["eggs"] = 0
    
    return str(total_eggs) + " eggs collected"

# solution ending is:
# <indent>return f"{total_eggs} eggs collected"
# print(count_eggs(chickens))

In [17]:
chickens = [ { "name": "Margaret", "age": 2, "eggs": 0 }, { "name": "Hetty", "age": 1, "eggs": 2 }, { "name": "Henrietta", "age": 3, "eggs": 1 }, { "name": "Audrey", "age": 2, "eggs": 0 }, { "name": "Mabel", "age": 5, "eggs": 1 }, ]

In [18]:
count_eggs(chickens)

'4 eggs collected'

In [24]:
chickens = [ { "name": "Margaret", "age": 2, "eggs": 1 }, { "name": "Hetty", "age": 1, "eggs": 2 }, { "name": "Henrietta", "age": 3, "eggs": 2 }, { "name": "Audrey", "age": 2, "eggs": 5 }, { "name": "Mabel", "age": 5, "eggs": 0 }, ]

In [25]:
print(chickens)

[{'name': 'Margaret', 'age': 2, 'eggs': 1}, {'name': 'Hetty', 'age': 1, 'eggs': 2}, {'name': 'Henrietta', 'age': 3, 'eggs': 2}, {'name': 'Audrey', 'age': 2, 'eggs': 5}, {'name': 'Mabel', 'age': 5, 'eggs': 0}]

In [26]:
count_eggs(chickens)

'10 eggs collected'

In [27]:
print(chickens) # show 0 eggs now counted

[{'name': 'Margaret', 'age': 2, 'eggs': 0}, {'name': 'Hetty', 'age': 1, 'eggs': 0}, {'name': 'Henrietta', 'age': 3, 'eggs': 0}, {'name': 'Audrey', 'age': 2, 'eggs': 0}, {'name': 'Mabel', 'age': 5, 'eggs': 0}]

## Extension Q1

Set up the following collection:

united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

* Change the capital of Wales from "Swansea" to "Cardiff".
* Create a dictionary for Northern Ireland and add it to the united_kingdom list (The capital is Belfast, and the population is 1,811,000).
* Use a loop to print the names of all the countries in the UK.
* Use a loop to find the total population of the UK.

In [95]:
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

In [96]:
united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Swansea'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'}]

In [97]:
import pandas as pd
import numpy as np

# first turn into df
united_kingdom = pd.DataFrame(united_kingdom)
united_kingdom

       name  population    capital
0  Scotland     5295000  Edinburgh
1     Wales     3063000    Swansea
2   England    53010000     London

In [98]:
# now replace city value
united_kingdom.replace("Swansea", "Cardiff")

       name  population    capital
0  Scotland     5295000  Edinburgh
1     Wales     3063000    Cardiff
2   England    53010000     London

In [101]:
# try a way to do it for Wales, regardless of current value
united_kingdom["capital"] = np.where(united_kingdom["name"]=="Wales", "Minehead", united_kingdom["capital"])
united_kingdom

       name  population    capital
0  Scotland     5295000  Edinburgh
1     Wales     3063000   Minehead
2   England    53010000     London

In [102]:
united_kingdom["capital"] = np.where(united_kingdom["name"]=="Wales", "Cardiff", united_kingdom["capital"])
united_kingdom

       name  population    capital
0  Scotland     5295000  Edinburgh
1     Wales     3063000    Cardiff
2   England    53010000     London

In [ ]:
# solution is simpler, uses index to hardcode for Wales entry
united_kingdom[1]["capital"] = "Cardiff"

In [23]:
# turn uk back into a collection
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

In [24]:
# Create a dictionary for Northern Ireland and add it to the 
# united_kingdom list (The capital is Belfast, and the population is 1,811,000).
north_ire = {
    "name":"Northern Ireland",
    "population":1811000,
    "capital":"Belfast"
}

united_kingdom.append(north_ire)
united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Swansea'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'},
 {'name': 'Northern Ireland', 'population': 1811000, 'capital': 'Belfast'}]

In [27]:
# Use a loop to print the names of all the countries in the UK
[united_kingdom[i]["name"] for i in range(0, len(united_kingdom))]

['Scotland', 'Wales', 'England', 'Northern Ireland']

In [28]:
# solution is simpler:
for country in united_kingdom:
    print(country["name"])

Scotland
Wales
England
Northern Ireland

In [132]:
# Use a loop to find the total population of the UK
total_population = 0
for i in range(0, len(united_kingdom)):
    total_population += united_kingdom[i]["population"]
total_population
# expect 63 million from manual calculation

63179000

In [29]:
# solution is simpler:
total_population = 0

for country in united_kingdom:
    total_population += country["population"]


print(total_population)

63179000

## Extension Q2

Set up dictionary

1. Get Jonathan's Twitter handle (i.e. the string "jonnyt")
2. Get Erik's hometown
3. Get the array of Erik's lottery numbers
4. Get the species of Avril's pet Monty
5. Get the smallest of Erik's lottery numbers
6. Return an array of Avril's lottery numbers that are even
7. Erik is one lottery number short! Add the number 7 to be included in his lottery numbers
8. Change Erik's hometown to Edinburgh
9. Add a pet dog to Erik called "Fluffy"
10. Add another person to the users dictionary

In [30]:
users = {
  "Jonathan": {
    "twitter": "jonnyt",
    "lottery_numbers": [6, 12, 49, 33, 45, 20],
    "home_town": "Stirling",
    "pets": [
    {
      "name": "fluffy",
      "species": "cat"
    },
    {
      "name": "fido",
      "species": "dog"
    },
    {
      "name": "spike",
      "species": "dog"
    }
  ]
  },
  "Erik": {
    "twitter": "eriksf",
    "lottery_numbers": [18, 34, 8, 11, 24],
    "home_town": "Linlithgow",
    "pets": [
    {
      "name": "nemo",
      "species": "fish"
    },
    {
      "name": "kevin",
      "species": "fish"
    },
    {
      "name": "spike",
      "species": "dog"
    },
    {
      "name": "rupert",
      "species": "parrot"
    }
  ]
  },
  "Avril": {
    "twitter": "bridgpally",
    "lottery_numbers": [12, 14, 33, 38, 9, 25],
    "home_town": "Dunbar",
    "pets": [
      {
        "name": "monty",
        "species": "snake"
      }
    ]
  }
}

In [134]:
# Get Jonathan's Twitter handle (i.e. the string "jonnyt")
users["Jonathan"]["twitter"]

'jonnyt'

In [136]:
# Get Erik's hometown
users["Erik"]["home_town"]

'Linlithgow'

In [137]:
# Get the array of Erik's lottery numbers
users["Erik"]["lottery_numbers"]

[18, 34, 8, 11, 24]

In [154]:
# Get the species of Avril's pet Monty
users["Avril"]["pets"][0]["species"]
# use [0] to enter 1st item in list, which is dictionary of pet name and species
# then specify the key from dictionary to retrieve value for

'snake'

In [159]:
# Get the smallest of Erik's lottery numbers
min(users["Erik"]["lottery_numbers"])

8

In [31]:
# alternative solution
sorted(users["Erik"]["lottery_numbers"])[0]

8

In [170]:
users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24],
  'home_town': 'Linlithgow',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]}}

In [162]:
# Return an array of Avril's lottery numbers that are even
even_lottery_nums = [number for number in users["Avril"]["lottery_numbers"] if number %2 == 0]
even_lottery_nums

[12, 14, 38]

In [ ]:
# solution is longer:
# 6. Print a list of Avril's lottery numbers that are even
lottery_numbers = users["Avril"]["lottery_numbers"]
even_numbers = []
for lottery_number in lottery_numbers:
    if lottery_number % 2 == 0:
        even_numbers.append(lottery_number)

print(even_numbers)

In [188]:
# Erik is one lottery number short! Add the number 7 to be included in his lottery numbers
users["Erik"]["lottery_numbers"].append(7)
users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Linlithgow',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]}}

In [189]:
# Change Erik's hometown to Edinburgh
users["Erik"]["home_town"] = "Edinburgh"
users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Edinburgh',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]}}

In [190]:
# Add a pet dog to Erik called "Fluffy"
users["Erik"]["pets"].append({"name": "Fluffy", "species": "dog"})
users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Edinburgh',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'},
   {'name': 'Fluffy', 'species': 'dog'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]}}

In [191]:
# Add another person to the users dictionary
users["Henry"] = {
    "twitter": "heneryboo",
    "lottery_numbers": [12, 14, 33, 38, 9, 25],
    "home_town": "Peebles",
    "pets": [
      {
        "name": "blossom",
        "species": "guinea pig"
      },
      {
        "name": "goldie",
        "species": "goldfish"
      }  
    ]
  }

users

{'Jonathan': {'twitter': 'jonnyt',
  'lottery_numbers': [6, 12, 49, 33, 45, 20],
  'home_town': 'Stirling',
  'pets': [{'name': 'fluffy', 'species': 'cat'},
   {'name': 'fido', 'species': 'dog'},
   {'name': 'spike', 'species': 'dog'}]},
 'Erik': {'twitter': 'eriksf',
  'lottery_numbers': [18, 34, 8, 11, 24, 7],
  'home_town': 'Edinburgh',
  'pets': [{'name': 'nemo', 'species': 'fish'},
   {'name': 'kevin', 'species': 'fish'},
   {'name': 'spike', 'species': 'dog'},
   {'name': 'rupert', 'species': 'parrot'},
   {'name': 'Fluffy', 'species': 'dog'}]},
 'Avril': {'twitter': 'bridgpally',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Dunbar',
  'pets': [{'name': 'monty', 'species': 'snake'}]},
 'Henry': {'twitter': 'heneryboo',
  'lottery_numbers': [12, 14, 33, 38, 9, 25],
  'home_town': 'Peebles',
  'pets': [{'name': 'blossom', 'species': 'guinea pig'},
   {'name': 'goldie', 'species': 'goldfish'}]}}

Ok, that homework was tough!